        * {
            box-sizing: border-box;
        }
        body {
            background-image: url(bg4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
       
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
        }
        .login-container {
            width: 200%;
            max-width: 500px;
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.73);
            border-radius: 20px;
            border: 1px solid #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: auto;
        }
        h2 {
            margin-bottom: 20px;    
            color: #ffffff;
            text-align: center;
        }
        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
            margin: 10px 5px;
            color: #ffffffc7;
            text-align: left;
        }
        .username{
            color:#f4f4f4;
        }
        input {
            width: 100%;
            padding: 10px;
            color:rgb(255, 255, 255);
            margin-bottom: 15px;
            border: 1px solid #ffffff;
            border-radius: 7px;
            background-color: rgba(0, 0, 0, 0.049);;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: rgba(163, 154, 154, 0.327);
            color: #ffffffc7;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 20px;

            margin-top: 20px;
            font-weight: bold;
        }
        button:hover {
            background-color: #8b92997e;
        }
        p {
            color: #ffffffc7;
            margin-top: 35px;
            margin-left: 60px;
        }
        a {
            color: #ffffffc7;
            text-align: center;
            margin-left: 20px;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }