RewriteEngine On
RewriteBase /duanweb2

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^login$ app/view/Auth/login.php [L]
RewriteRule ^register$ app/view/Auth/register.php [L]
RewriteRule ^verify$ app/view/Auth/verify.php [L]
RewriteRule ^forgot$ app/view/Auth/forgot.php [L]
RewriteRule ^payment$ app/view/payment/payment.php [L]
RewriteRule ^resetpassword$ app/view/Auth/resetpassword.php [L]
RewriteRule ^messageSent$ app/view/Auth/messageSent.php [L]
RewriteRule ^ipn$ app/view/payment/ipn.php [L]
RewriteRule ^success$ app/view/page/success.php [L]
RewriteRule ^update-user-info$ app/view/user/update-user-info.php [L]
RewriteRule ^logout$ app/view/Auth/logout.php [L]
RewriteRule ^create-adress$ app/view/payment/add-delivery-address.php [L]
RewriteRule ^delete-product app/view/admin/product/deleteProduct.php
RewriteRule ^block-product app/view/admin/product/blockProduct.php
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?page=$1 [QSA,L]
RewriteRule ^admin/([^/]+)/([^/]+)$ index.php?adminfolder=$1&adminpage=$2 [QSA,L]
RewriteRule ^admin/([^/]+)$ index.php?adminpage=$1 [QSA,L]

